<md-dialog aria-label="Edit Vertical Details" style="width:80%;">
  <form name="form" ng-submit="newSubDept(form)" novalidate>
    <md-dialog-content>
      <div layout="column" class="verticals">
        <div class="md-whiteframe-z1 leadsPortal">
          <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">
              Create a new subdept
            </h1>
          </md-toolbar>

          <md-content layout-padding>
            <md-input-container>
              <label>Dept Name</label>      
              <!-- <ng-md-icon icon="perm_identity" style="fill:#00a1f4" class="name"></ng-md-icon> -->
              <input ng-model="subDept.name" type="text">
            </md-input-container>
            <md-input-container>
              <label>Dept info</label>      
              <!-- <ng-md-icon icon="perm_identity" style="fill:#00a1f4" class="name"></ng-md-icon> -->
              <textarea ng-model="subDept.info"></textarea>
            </md-input-container>
          </md-content>
        </div>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" class="md-raised md-primary">
        Save
      </md-button>
    </div>
  </form>
</md-dialog>
